@import "../../common/stylus/mixin.styl"
.rating
  position absolute
  top: 174px
  bottom 0
  left: 0
  width 100%
  background-color rgba(7,17,27,0.1)
  overflow hidden
  .overview
    display flex
    width 100%
    background-color #ffffff
    padding 18px 0
    border-1px(rgba(7,17,27,0.1))
    .overview-left
      border-right 1px solid rgba(7,17,27,0.1)
      box-sizing border-box
      flex 0 0 137.5px
      width 137.5px
      text-align center
      .score-number
        font-size 24px
        color rgb(255,153,0)
        line-height 28px
        font-weight 500
        margin-bottom 6px
      .score-title
        font-size 12px
        color rgb(7,17,27)
        line-height 12px
        text-align center
        margin-bottom 8px
        font-weight 400
      .over
        width 100%
        font-size 10px
        color: rgba(7,17,27,0.5)
        line-height 10px
        margin-bottom 6px
        font-weight 300
    .overview-right
      flex 1
      box-sizing border-box
      padding 0 24px
      font-size 0
      .text
        display inline-block
        font-size 12px
        color: rga(7,17,27)
        line-height 18px
        vertical-align middle
        margin-right 12px
        font-weight 500
      .star
        display inline-block
        vertical-align middle
        margin-right 12px
      .number
        font-size 12px
        color rgb(255,153,0)
        display inline-block
        line-height 18px
        vertical-align middle
        font-weight 400

      .food-score
        margin-bottom 8px
      .service-score
        margin-bottom 8px
      .deliverytime
        margin-bottom 8px
        .time
          display inline-block
          font-size 12px
          color rgb(147,153,159)
          line-height 18px
          vertical-align middle
          font-weight 400

  .food-rating
    margin-top 16px
    border-1pxtop(rgba(7,17,27,0.1))
    background-color #ffffff
    .header
      background-color #ffffff
      padding 0 18px
      border-1px(rgba(7,17,27,0.1))
      .btn-group
        padding 18px 0
        overflow hidden
        border-1px(rgba(7,17,27,0.1))
        .all
          padding 8px 12px
          float left
          font-size 12px
          color #fff
          line-height 16px
          background-color rgb(0,160,220)
          border-right: 12px;
          margin-right 8px
          border-radius 2px
        .recommand
          padding 8px 12px
          float left
          font-size 12px
          color rgb(77,85,93)
          line-height 16px
          background-color rgba(0,160,220,0.2)
          border-right: 12px;
          margin-right 8px
          border-radius 2px
        .gag
          padding 8px 12px
          float left
          font-size 12px
          color #fff
          line-height 16px
          background-color rgba(77,85,93,0.2)
          border-right: 12px;
          border-radius 2px
      .ratingoption
        .icon-check_circle
          display inline-block
          padding 12px 4px 12px 0
          font-size 24px
          color rgb(147,153,159)
          line-height 24px
          &.checked
            color rgb(0,160,220)
        span
          display inline-block
          font-size 12px
          color rgb(147,153,159)
          line-height 24px
          vertical-align top
          padding 12px 0
    .content
      ul
        .rate-item
          padding 0 18px
          .rate-msg
            padding-top 18px
            .person-img
              width 28px
              height 28px
              border-radius 50%
              background-size 28px 28px
              display inline-block
            .person-msg
              padding-left 12px
              display inline-block
              .person-name
                font-size 10px
                color: rgb(7,17,27)
                line-height 12px
                padding-bottom 4px
              .rate-extra
                .star
                  display inline-block
                  padding-bottom 6px
                .delivery-time
                  padding-left 6px
                  display inline-block
                  font-size 10px
                  color: rgb(147,153,159)
                  line-height 12px
                  font-weight 200
            .rate-time
              float right
              font-size 10px
              color: rgb(147,153,159)
              line-height 12px
              font-weight 200
          .rate-content
            font-size: 12px
            color rgb(7,17,27)
            line-height 18px
            padding 0 18px 8px 48px
          .rate-command
            padding 0 18px 18px 48px
            border-1px(rgba(7,17,27,0.1))
            .icon-thumb_up
              color rgb(0,160,220)
              display inline-block
              margin-right 4px
              line-height 18px
              vertical-align top

            .icon-thumb_down
              color rgb(147,153,159)
              display inline-block
              margin-right 4px
              line-height 18px
              vertical-align top
            ul
              display inline-block
              .command-item
                margin-left 6px
                padding  0 6px
                border 1px solid rgba(7,17,27,0.2)
                border-radius 2px
                background-color rgb(255,255,255)
                display inline-block
                font-size 9px
                line-height 16px
                margin-bottom 6px
                vertical-align top





