@import "../../common/stylus/mixin.styl"
.header

  color #FFFFFF
  background rgba(7, 17, 27, 0.5)
  overflow hidden
  position relative
  .content-wapper
    position relative
    height 106px
    padding 0 12px 0 24px
    font-size 0
    .avatar
      display inline-block
      width 64px
      height 64px
      img
        height 64px
        width 64px
    .seller-main
      margin-top 24px
      margin-bottom 18px
      display inline-block
      margin-left 16px
      .title
        .brand
          bg-image(brand)
          display inline-block
          width 30px
          height 18px
          background-size 30px 18px
          margin-right 6px
          vertical-align top

        .name
          display inline-block
          font-size 16px
          font-weight bold
          line-height 18px
      .delivery
        font-size: 16px
        color: #FFFFFF
        font-weight 200
        line-height: 12px
        margin-top 8px
      .support
        .icon
          width 12px
          height 12px
          background-size 12px 12px
          display inline-block
          position relative
          top 1px

          //通过不同的class渲染不同的额图标
          &.guarantee
            bg-image(guarantee_1)
          &.decrease
            bg-image(decrease_1)
          &.discount
            bg-image(discount_1)
          &.invoice
            bg-image(invoice_1)
          &.special
            bg-image(special_1)

        .decription
          display inline-block
          margin-top 10px
          margin-left 4px
          margin-bottom 2px
          font-size 10px
          line-height 12px
          font-weight 200
          color #FFFFFF

    .number
      position absolute
      font-size 10px
      font-weight 200
      line-height 24px
      color: #FFFFFF
      height 24px
      width 50px
      border-radius: 12px;
      bottom 18px
      right 12px
      text-align center
      vertical-align middle
      background rgba(0, 0, 0, 0.2)
      .icon-keyboard_arrow_right
        font-size 10px
  .bulutin-wapper
    position relative
    height 28px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    line-height 28px
    font-size 10px
    padding 0 22px 0 12px
    background rgba(7, 17, 27, 0.2)

    .bulletin-icon
      bg-image(bulletin)
      display inline-block
      width 22px
      height 12px
      background-size 22px 12px
      background-repeat no-repeat
      margin 8px 0 5px 0
      vertical-align top
    .icon-keyboard_arrow_right
      position absolute
      right: 12px;
      bottom: 7px;

  .background
    position absolute
    top: 0
    left: 0
    width 100%
    height 100%
    z-index -1
    img
      width 100%
      height 100%
      background-size contain
      filter blur(10px)

  .detail
    position fixed
    width 100%
    height 100%
    z-index 100
    overflow auto
    background rgba(7, 17, 27, 0.8)

    top: 0
    left: 0
    .detail-wapper
      min-height 100%
      width 100%
      .detail-main
        padding 64px 36px
        .seller-title
          font-size: 16px
          font-weight 700
          color: rgb(255, 255, 255)
          line-height 16px
          text-align center
          .title-name
            font-size: 16px;
            font-weight: 700;
          .star
            margin-top 16px
        .discount-msg
          position relative
          margin-top 28px
          text-align center
          .msg-title
            font-size 14px
            font-weight 700
            color: rgb(255, 255, 255)
            line-height 14px
            text-align center
            margin 0 12px
            display flex
            .line
              flex 1
              border-bottom 1px solid rgba(255, 255, 255, 0.2)
              position relative
              top -6px
            .text
              padding 0 12px
          .msg-main
            padding-top 12px
            .icon
              width 12px
              height 12px
              background-size 12px 12px
              display inline-block
              position relative
              top 1px
              //通过不同的class渲染不同的额图标
              &.guarantee
                bg-image(guarantee_1)
              &.decrease
                bg-image(decrease_1)
              &.discount
                bg-image(discount_1)
              &.invoice
                bg-image(invoice_1)
              &.special
                bg-image(special_1)

            ul
              padding-left 24px
            .description
              line-height 12px
              font-size 12px
              font-weight 200
              color rgb(255, 255, 255)
              margin-top 12px
              text-align left
              &:last-child
                margin-bottom 28px

        .notice-msg
          .notice-title
            font-size 14px
            font-weight 700
            color: rgb(255, 255, 255)
            line-height 14px
            text-align center
            margin 0 12px
            display flex
            .line
              flex 1
              border-bottom 1px solid rgba(255, 255, 255, 0.2)
              position relative
              top -6px
            .text
              padding 0 12px

          .notice-main
            padding-top 24px
            padding-left 24px
            padding-right 24px
            .notice-text
              font-size 12px
              font-weight 200
              line-height 24px
              color rgb(255, 255, 255)

    .detail-footer
      position relative
      height 64px
      width 100%
      margin-top: -64px;
      margin-left auto
      margin-right auto
      text-align center

      i
        display block
        font-size 32px
        color rgba(255, 255, 255, 0.5)

// 详情窗口的渐变
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
