@import "../../common/stylus/mixin.styl"
.cartcontroller
  font-size 0
  height 24px
  .food-decrease
    display inline-block
    font-size 24px
    color rgb(0,160,223)
    line-height 24px
    box-sizing border-box
  .food-count
    display inline-block
    color rgb(147,153,159)
    line-height 24px
    box-sizing border-box
    font-size 0
    height 24px
    vertical-align top
    text-align center
    input
      line-height 24px
      font-size 10px
      width 24px
      border none
      text-align center
  .food-add
    display inline-block
    font-size 24px
    color rgb(0,160,223)
    line-height 24px
    box-sizing border-box
